# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Python environment
.env
.venv

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Local data and outputs
*.sqlite3
*.db
*.pdf
cleaned_text.txt
chunks_*.txt
